

h1 {
  font-size: 1.5em;
  text-align: center;
  margin-top: 3em;
  color: #d9534f;
}
h2 {
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  margin-top: 7em;
  color: #5bc0de;
}

button {
  display: block;
  margin:  auto;
  padding: 0.5em 1.5em;
  font-size: 1.2em;
  color: #fff;
  background-color: #87dd87;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
}